.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    z-index: 1;
  }
  
  .modal-wrapper {
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  
  .close {
    width: 10px;
    fill: #6c757d;
    padding: 10px;
    cursor: pointer;
    margin: -20px -10px 0px 0px;
  }
  
  .modal-container {
    padding: 30px 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
    background-color: #fff;
  }

  .modal-container h1 {
    font-size: 2rem;
    margin: 0px;
  }
  
  .modal-container .buttons button {
    width: 100%;
    margin: 2px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #a7a9ac;
    background-color: transparent;
    cursor: pointer;
  }
  .modal-container .buttons button:hover {
    background-color: #dee2e6;
  }
  
  .modal-container .buttons .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .modal-container .buttons .btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .modal-container .buttons .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .modal-container .buttons .btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
  }