.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    z-index: 1;
  }
  
  .modal-wrapper {
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  
  .modal-container {
    padding: 30px 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
    background-color: #fff;
  }

  .close {
    width: 10px;
    fill: #6c757d;
    padding: 10px;
    cursor: pointer;
    margin: -20px -10px 0px 0px;
  }