body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: gray;
  margin: 0px;
  padding: 0px;
}

hr {
  border: 1px solid #dee2e6;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 500px;
  min-height: 90vh;
  margin: 0px auto;
  background-color: #fff;
  overflow: hidden;
}

.p-10 {
  padding: 10px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.d-none {
  display: none;
}

.d-flex,
.row {
  display: flex;
}

.row {
  flex-direction: row !important;
}

.row-reverse {
  flex-direction: row-reverse !important;
}

.align-item-center {
  align-items: center;
}

.flex-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.over-flow-hidden,
.text-ellipsis {
  overflow: hidden;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #007bff;
}

a .text-primary:hover,
a .text-primary:focus {
  color: #0056b3;
}

a .text-success:hover,
a .text-success:focus {
  color: #19692c;
}

.text-success {
  color: #28a745;
}

.text-muted {
  color: #6c757d;
}
.text-light {
  color: #f8f9fa;
}

.bg-dark {
  background-color: #343a40 !important;
}

.buttons {
  display: flex;
  width: 100%;
}

.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.cursor-pointer {
  cursor: pointer;
}